html {
  width: 100vw;
  height: 100vh;
}

body {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 960px;
  height: 100%;
  overflow: hidden;
  font-family: "Oxygen Mono";
  font-size: 1.6em;
  letter-spacing: .1em;
  color: rgb(0,255,0);
  background-color: rgb(17,25,17);
}

@media only screen and (min-width : 768px) and (max-width : 1024px) {
  body { width: 80%; }
}

@media only screen and (min-width : 481px) and (max-width : 767px) {
  body {
    width: 90%;
    font-size: 1.1em;
  }
}

@media only screen and (max-width : 480px) {
  body {
    width: 90%;
    font-size: .9em;
  }
}

.container {
  position: relative;
  height: 100%;
}

hr {
  border: 1px solid rgb(0,255,0);
}

.word-list {
  padding: 0;
  margin: 0 -1em .5em 0;
}

.word-list > li {
  float: left;
  margin: 0 1em .5em 0;
  list-style-type: none;
}

.word-list:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.word-start {
  float: left;
  margin-right: .1em;
}

.word-entry,
.word-guess {
  display: block;
  float: left;
  padding: 0;
  font-family: "Oxygen Mono";
  font-size: 1em;
  letter-spacing: .1em;
  color: transparent;
  text-shadow: 0 0 0 rgb(0,255,0);
  text-transform: uppercase;
  background: none;
  border: none;
}

.word-list--guess > .word-guess:hover {
  color: rgb(17,25,17);
  background: rgb(0,255,0);
  cursor: pointer;
}

.word-guess--active {
  color: rgb(17,25,17);
  background: rgb(0,255,0);
}

.word-cmdline {
  position: absolute;
  bottom: 2em;
  width: 100%;
  padding-top: .5em;
  border-top: 3px solid rgb(0,255,0);
}

.word-cmdline:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.word-cmdline > .word-entry {
  width: 10.5em;
}

.word-entry:focus {
  outline: none;
}

.word-caret {
  display: block;
  float: left;
  width: .6em;
  height: 1em;
  margin-top: .15em;
  margin-left: -10.5em;
  background-color: rgb(0,255,0);
  -webkit-animation: flicker 1s infinite;
     -moz-animation: flicker 1s infinite;
       -o-animation: flicker 1s infinite;
          animation: flicker 1s infinite;
}

@-webkit-keyframes flicker {
  0%, 25%, 75%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

@-moz-keyframes flicker {
  0%, 25%, 75%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

@-o-keyframes flicker {
  0%, 25%, 75%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

@keyframes flicker {
  0%, 25%, 75%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.word-buttons {
  float: right;
}

.word-buttons > button {
  float: left;
  padding: 0;
  margin-left: 1em;
  font-family: "Oxygen Mono";
  font-size: 1em;
  letter-spacing: .1em;
  text-transform: uppercase;
  color: rgb(0,255,0);
  background: none;
  border: 0;
}

.word-buttons > button:hover {
  color: rgb(17,25,17);
  background: rgb(0,255,0);
  cursor: pointer;
}

.word-buttons > button:focus {
  outline: none;
}